.button {
    display: inline-block;
    width: 30px;
    height: 30px !important;
    margin: 2px;
    border: 1px solid rgb(96, 249, 170);
    padding-top: 2px;
    text-align: center;
    color: rgb(96, 249, 170);
}

.act {
    display: inline-block;
    width: 30px;
    height: 30px !important;
    margin: 2px;
    padding-top: 2px;
    text-align: center;
    background-color: rgb(96, 249, 170);
    color: white;
}